<div class="footer">
    <p id="top">The Food Express</p>
<div class="row">
    <a href="https://www.facebook.com/login/" class="img"><img src="../assets/images/facebook.png" height="40px"></a>
    <a href="https://www.instagram.com/accounts/login/" class="img"> <img src="../assets/images/instagram.png" height="40px"></a>
    <a href="https://twitter.com/i/flow/login" class="img"> <img src="../assets/images/twitter.png" height="40px"></a>
</div>

<div class="row">
<ul>
<li><a href="#">Contact us</a></li>
<li><a href="#">Our Services</a></li>
<li><a href="#">Privacy Policy</a></li>
<li><a href="#">Terms & Conditions</a></li>

</ul>
</div>

<div class="row">
    The food Express Copyright © 2024 - All rights reserved 
</div>
</div>
