<div id="box">
    
<div id="delete-restaurant">
    <h1>Delete Food</h1>
    <label for="restaurantId">Enter Restaurant ID:</label>
    <input type="text" id="restaurantId" [(ngModel)]="restaurantId" />

    <label for="itemId">Enter Food Item ID:</label>
    <input type="number" id="itemId" [(ngModel)]="itemId" />

    <button (click)="deleteFoodItem()">Delete Food Item</button>
                            <button id="click" type="submit" routerLink="/admin">Main Menu</button>
                        </div>
  
                    </div>