

<div id="box">
   

    <div id="add-restaurant">
        
        <h2>Add Food</h2><hr><br>
        
        <h3>
          <form [formGroup]="foodMenuForm" action="">
            <mat-form-field appearance="fill">
                <mat-label>restaurant Id</mat-label>
                <input matInput type="text" formControlName="restaurantId" >
                <mat-hint *ngIf="!restaurantId?.valid&& restaurantId?.dirty">Invalid restaurant Id</mat-hint>
                </mat-form-field><br>
    
              <mat-form-field appearance="fill">
                <mat-label>Food Namee</mat-label>
                <input matInput type="text" formControlName="itemName" >
                <mat-hint *ngIf="!itemName?.valid&& itemName?.dirty">Invalid Food Name</mat-hint>
                </mat-form-field><br>
    
              <mat-form-field appearance="fill">
                <mat-label>Description</mat-label>
                <input matInput type="text" formControlName="description" >
                <mat-hint *ngIf="!description?.valid&& description?.dirty">Invalid Description</mat-hint>
                </mat-form-field>&nbsp;
                <br>
    
                <mat-form-field appearance="fill">
                  <mat-label>food Id</mat-label>
                  <input matInput type="text" formControlName="itemId">
                  <mat-hint *ngIf="!itemId?.valid&& itemId?.dirty">Invalid food Id</mat-hint>
                  </mat-form-field><br>
    
                  <mat-form-field appearance="fill">
                    <mat-label>price</mat-label>
                    <input matInput type="text" formControlName="price">
                    <mat-hint *ngIf="!price?.valid&& price?.dirty">Invalid price</mat-hint>
                    </mat-form-field><br>

                    <mat-form-field appearance="fill">
                        <mat-label>foodImage</mat-label>
                        <input matInput type="text" formControlName="foodImage">
                        <mat-hint *ngIf="!foodImage?.valid&& foodImage?.dirty">Invalid foodImage</mat-hint>
                        </mat-form-field><br>
    
                    
                        <button type="submit" [disabled]="foodMenuForm.invalid" (click)="submit()">Add Food</button>
                        <div>
                            <button id="click" type="submit" routerLink="/admin">Main Menu</button>
                        </div>
          </form>
        </h3>
      </div>
    </div>
    